<?xml version="1.0" encoding="UTF-8"?>
<config>
    <modules>
        <AwHh_Billsafe>
            <version>13.0.6</version>
        </AwHh_Billsafe>
    </modules>

    <default>
        <payment>
            <billsafe>
                <active>0</active>
                <title>Rechnungskauf mit BillSAFE</title>
                <billsafe_logo>https://www.billsafe.de/resources/img/banner/135x30-rechnung-in-kooperation-mit-billsafe-green.png</billsafe_logo>
                <sort_order>0</sort_order>
                <payment_action>authorize</payment_action>
                <model>billsafe/payment</model>
                <min_amount>1</min_amount>
                <max_amount>1000</max_amount>
                <sandbox>1</sandbox>
                <live_api_url>https://soap.billsafe.de/wsdl/V208</live_api_url>
                <live_gateway_url>https://payment.billsafe.de/V200</live_gateway_url>
                <sandbox_api_url>https://sandbox-soap.billsafe.de/wsdl/V208</sandbox_api_url>
                <sandbox_gateway_url>https://sandbox-payment.billsafe.de/V200</sandbox_gateway_url>
                <application_signature>eec2e1cbe2c31ebc7bbdd1601b6ef389</application_signature>
                <order_status>processing</order_status>
                <open_in_layer>1</open_in_layer>
                <timeout>5</timeout>
                <allowspecific>1</allowspecific>
                <specificcountry>DE</specificcountry>
            </billsafe>
            
            <billsafe_installment>
                <active>0</active>
                <title>Ratenkauf in Kooperation mit BillSAFE</title>
                <billsafe_logo>https://www.billsafe.de/resources/img/banner/135x30-ratenkauf-in-kooperation-mit-billsafe-green.png</billsafe_logo>
                <sort_order>0</sort_order>
                <payment_action>authorize</payment_action>
                <model>billsafe/installment</model>
                <min_amount>1</min_amount>
                <max_amount>1000</max_amount>
                <sandbox>1</sandbox>
                <live_api_url>https://soap.billsafe.de/wsdl/V209</live_api_url>
                <live_gateway_url>https://payment.billsafe.de/V200</live_gateway_url>
                <sandbox_api_url>https://sandbox-soap.billsafe.de/wsdl/V209</sandbox_api_url>
                <sandbox_gateway_url>https://sandbox-payment.billsafe.de/V200</sandbox_gateway_url>
                <application_signature>eec2e1cbe2c31ebc7bbdd1601b6ef389</application_signature>
                <order_status>processing</order_status>
                <timeout>5</timeout>
                <allowspecific>1</allowspecific>
                <specificcountry>DE</specificcountry>
            </billsafe_installment>
        </payment>
        <payment_services>
            <paymentfee>
                <active>0</active>
                <max_fee_amount>1</max_fee_amount>
                <disable_after_exceeding_max_fee_amount>0</disable_after_exceeding_max_fee_amount>
                <disable_after_exceeding_min_fee_amount>0</disable_after_exceeding_min_fee_amount>
            </paymentfee>
        </payment_services>
    </default>
    <global>
        <models>
            <billsafe>
                <class>AwHh_Billsafe_Model</class>
            </billsafe>
            <sales>
                <rewrite>
                    <order_creditmemo>AwHh_Billsafe_Model_Creditmemo</order_creditmemo>
                </rewrite>
            </sales>
        </models>
        <helpers>
            <billsafe>
                <class>AwHh_Billsafe_Helper</class>
            </billsafe>
        </helpers>
        <blocks>
            <billsafe>
                <class>AwHh_Billsafe_Block</class>
            </billsafe>
            <adminhtml>
                <rewrite>
                    <sales_items_renderer_configurable>AwHh_Billsafe_Block_Adminhtml_Sales_Items_Renderer_Configurable</sales_items_renderer_configurable>
                    <sales_items_renderer_default>AwHh_Billsafe_Block_Adminhtml_Sales_Items_Renderer_Default</sales_items_renderer_default>
                    <sales_order_totalbar>AwHh_Billsafe_Block_Adminhtml_Sales_Order_Totalbar</sales_order_totalbar>
                    <sales_order_create>AwHh_Billsafe_Block_Adminhtml_Widget_Form_Container</sales_order_create>
                    <sales_order_invoice_view>AwHh_Billsafe_Block_Adminhtml_Sales_Order_Invoice_View</sales_order_invoice_view>
                    <sales_order_view>AwHh_Billsafe_Block_Adminhtml_Sales_Order_View</sales_order_view>
                </rewrite>
            </adminhtml>
            <checkout>
                <rewrite>
                    <onepage_payment_methods>AwHh_Billsafe_Block_Onepage_Payment_Methods</onepage_payment_methods>
                </rewrite>
            </checkout>
        </blocks>
        <resources>
            <billsafe_setup>
                <setup>
                    <module>AwHh_Billsafe</module>
                </setup>
                <connection>
                    <use>core_setup</use>
                </connection>
            </billsafe_setup>
            <intraship_write>
                <connection>
                    <use>core_write</use>
                </connection>
            </intraship_write>
            <intraship_read>
                <connection>
                    <use>core_read</use>
                </connection>
            </intraship_read>
        </resources>
        <events>
            <sales_order_invoice_load_after>
                <observers>
                    <billsafe_observer>
                        <type>singleton</type>
                        <class>billsafe/observer</class>
                        <method>registerInvoice</method>
                    </billsafe_observer>
                </observers>
            </sales_order_invoice_load_after>
            <sales_order_save_after>
                <observers>
                    <billsafe_observer>
                        <type>singleton</type>
                        <class>billsafe/observer</class>
                        <method>updatePaymentInstruction</method>
                    </billsafe_observer>
                </observers>
            </sales_order_save_after>
        </events>
    </global>
    <adminhtml>
        <translate>
            <modules>
                <AwHh_Billsafe>
                    <files>
                        <default>AwHh_Billsafe.csv</default>
                    </files>
                </AwHh_Billsafe>
            </modules>
        </translate>
        <events>
            <sales_order_save_after>
                <observers>
                    <billsafe_observer>
                        <type>singleton</type>
                        <class>billsafe/observer</class>
                        <method>updatePaymentInstruction</method>
                    </billsafe_observer>
                </observers>
            </sales_order_save_after>
            <sales_order_shipment_save_after>
                <observers>
                    <billsafe_observer>
                        <type>singleton</type>
                        <class>billsafe/observer</class>
                        <method>reportShipment</method>
                    </billsafe_observer>
                </observers>
            </sales_order_shipment_save_after>
            <controller_action_postdispatch_adminhtml_sales_order_invoice_save>
                <observers>
                    <billsafe_observer>
                        <type>singleton</type>
                        <class>billsafe/observer</class>
                        <method>cancelOrderIfRequested</method>
                    </billsafe_observer>
                </observers>
            </controller_action_postdispatch_adminhtml_sales_order_invoice_save>
        </events>
        <layout>
            <updates>
                <billsafe>
                    <file>billsafe.xml</file>
                </billsafe>
            </updates>
        </layout>
        <menu>
            <billsafe_payment>
                <title>Billsafe Payment</title>
                <sort_order>9999</sort_order>
                <children>
                    <first_child_billsafe translate="title">
                        <title>Download Settlements</title>
                        <action>billsafe/payment/getSettlement</action>
                    </first_child_billsafe>
                </children>
            </billsafe_payment>
        </menu>
    </adminhtml>
    <frontend>
        <translate>
            <modules>
                <AwHh_Billsafe>
                    <files>
                        <default>AwHh_Billsafe.csv</default>
                    </files>
                </AwHh_Billsafe>
            </modules>
        </translate>
        <routers>
            <billsafe>
                <use>standard</use>
                <args>
                    <module>AwHh_Billsafe</module>
                    <frontName>billsafe</frontName>
                </args>
            </billsafe>
        </routers>
        <layout>
            <updates>
                <billsafe>
                    <file>billsafe.xml</file>
                </billsafe>
            </updates>
        </layout>
    </frontend>
    <admin>
        <routers>
            <billsafe_router>
                <use>admin</use>
                <args>
                    <module>AwHh_Billsafe</module>
                    <frontName>admin_billsafe</frontName>
                </args>
            </billsafe_router>
            <adminhtml>
                <args>
                    <modules>
                        <awhh_billsafe before="Mage_Adminhtml">AwHh_Billsafe</awhh_billsafe>
                    </modules>
                </args>
            </adminhtml>
        </routers>
    </admin>
</config>
