<?xml version="1.0" encoding="UTF-8"?>
<config>
    <modules>
        <Netresearch_Billsafe>
            <version>14.11.05</version>
        </Netresearch_Billsafe>
    </modules>

    <default>
        <payment>
            <billsafe>
                <active>0</active>
                <title>Rechnungskauf</title>
                <billsafe_logo>https://images.billsafe.de/image/image/id/04105000caae</billsafe_logo>
                <sort_order>0</sort_order>
                <payment_action>authorize</payment_action>
                <model>billsafe/payment</model>
                <min_amount>1</min_amount>
                <max_amount>1000</max_amount>
                <sandbox>1</sandbox>
                <live_api_url>https://soap.billsafe.de/wsdl/V210</live_api_url>
                <live_gateway_url>https://payment.billsafe.de/V200</live_gateway_url>
                <sandbox_api_url>https://sandbox-soap.billsafe.de/wsdl/V210</sandbox_api_url>
                <sandbox_gateway_url>https://sandbox-payment.billsafe.de/V200</sandbox_gateway_url>
                <application_signature>eec2e1cbe2c31ebc7bbdd1601b6ef389</application_signature>
                <order_status>processing</order_status>
                <timeout>5</timeout>
                <allowspecific>1</allowspecific>
                <specificcountry>DE</specificcountry>
                <default_gender>Male</default_gender>
                <download_settlement>0</download_settlement>
            </billsafe>
        </payment>
        <payment_services>
            <paymentfee>
                <active>0</active>
                <max_fee_amount>1</max_fee_amount>
                <disable_after_exceeding_max_fee_amount>0</disable_after_exceeding_max_fee_amount>
                <disable_after_exceeding_min_fee_amount>0</disable_after_exceeding_min_fee_amount>
            </paymentfee>
        </payment_services>
    </default>
    <global>
        <models>
            <billsafe>
                <class>Netresearch_Billsafe_Model</class>
                <resourceModel>billsafe_resource</resourceModel>
            </billsafe>
            <billsafe_resource>
                <class>Netresearch_Billsafe_Model_Resource</class>
                <entities>
                    <direct_payment>
                        <table>billsafe_direct_payment</table>
                    </direct_payment>
                </entities>
            </billsafe_resource>
            <!-- Symmetrics_InvoicePdf -->
            <invoicepdf>
                <rewrite>
                    <pdf_items_invoice_info>Netresearch_Billsafe_Model_Pdf_Items_Invoice_Info</pdf_items_invoice_info>
                </rewrite>
                <rewrite>
                    <pdf_invoice>Netresearch_Billsafe_Model_Pdf_Items_Invoice</pdf_invoice>
                </rewrite>
            </invoicepdf>
            <!-- FireGento_Pdf -->
            <firegento_pdf>
                <rewrite>
                    <engine_invoice_default>Netresearch_Billsafe_Model_Pdf_Engine_Invoice_Default</engine_invoice_default>
                </rewrite>
            </firegento_pdf>
        </models>
        <helpers>
            <billsafe>
                <class>Netresearch_Billsafe_Helper</class>
            </billsafe>
        </helpers>
        <blocks>
            <billsafe>
                <class>Netresearch_Billsafe_Block</class>
            </billsafe>
            <adminhtml>
                <rewrite>
                    <sales_order_totalbar>Netresearch_Billsafe_Block_Adminhtml_Sales_Order_Totalbar</sales_order_totalbar>
                </rewrite>
            </adminhtml>
        </blocks>
        <resources>
            <billsafe_setup>
                <setup>
                    <module>Netresearch_Billsafe</module>
                </setup>
                <connection>
                    <use>core_setup</use>
                </connection>
            </billsafe_setup>
            <billsafe_write>
                <connection>
                    <use>core_write</use>
                </connection>
            </billsafe_write>
            <billsafe_read>
                <connection>
                    <use>core_read</use>
                </connection>
            </billsafe_read>
        </resources>
        <events>
            <sales_order_invoice_load_after>
                <observers>
                    <billsafe_observer>
                        <type>singleton</type>
                        <class>billsafe/observer</class>
                        <method>registerInvoice</method>
                    </billsafe_observer>
                </observers>
            </sales_order_invoice_load_after>
            <firegento_pdf_invoice_insert_note>
                <observers>
                    <billsafe_observer>
                        <type>singleton</type>
                        <class>billsafe/observer</class>
                        <method>firegentoPdfInvoiceInsertNotice</method>
                    </billsafe_observer>
                </observers>
            </firegento_pdf_invoice_insert_note>
        </events>
    </global>
    <admin>
        <routers>
            <adminhtml>
                <args>
                    <modules>
                        <Netresearch_Billsafe before="Mage_Adminhtml">Netresearch_Billsafe_Adminhtml</Netresearch_Billsafe>
                    </modules>
                </args>
            </adminhtml>
        </routers>
    </admin>
    <adminhtml>
        <translate>
            <modules>
                <Netresearch_Billsafe>
                    <files>
                        <default>Netresearch_Billsafe.csv</default>
                    </files>
                </Netresearch_Billsafe>
            </modules>
        </translate>
        <events>
            <sales_order_invoice_save_after>
                <observers>
                    <billsafe_observer_invoice>
                        <type>singleton</type>
                        <class>billsafe/observer</class>
                        <method>updatePaymentInstructionInvoice</method>
                    </billsafe_observer_invoice>
                </observers>
            </sales_order_invoice_save_after>
            <sales_order_creditmemo_save_after>
                <observers>
                    <billsafe_observer_creditmemo>
                        <type>singleton</type>
                        <class>billsafe/observer</class>
                        <method>updatePaymentInstructionCreditmemo</method>
                    </billsafe_observer_creditmemo>
                </observers>
            </sales_order_creditmemo_save_after>
            <sales_order_shipment_save_after>
                <observers>
                    <billsafe_observer>
                        <type>singleton</type>
                        <class>billsafe/observer</class>
                        <method>reportShipment</method>
                    </billsafe_observer>
                </observers>
            </sales_order_shipment_save_after>
            <controller_action_postdispatch_adminhtml_sales_order_invoice_save>
                <observers>
                    <billsafe_observer>
                        <type>singleton</type>
                        <class>billsafe/observer</class>
                        <method>cancelOrderIfRequested</method>
                    </billsafe_observer>
                </observers>
            </controller_action_postdispatch_adminhtml_sales_order_invoice_save>
        </events>
        <layout>
            <updates>
                <billsafe>
                    <file>billsafe.xml</file>
                </billsafe>
            </updates>
        </layout>
    </adminhtml>
    <frontend>
        <translate>
            <modules>
                <Netresearch_Billsafe>
                    <files>
                        <default>Netresearch_Billsafe.csv</default>
                    </files>
                </Netresearch_Billsafe>
            </modules>
        </translate>
        <routers>
            <billsafe>
                <use>standard</use>
                <args>
                    <module>Netresearch_Billsafe</module>
                    <frontName>billsafe</frontName>
                </args>
            </billsafe>
        </routers>
        <layout>
            <updates>
                <billsafe>
                    <file>billsafe.xml</file>
                </billsafe>
            </updates>
        </layout>
        <events>
            <sales_quote_payment_import_data_before>
                <observers>
                    <billsafe_observer>
                        <type>singleton</type>
                        <class>billsafe/observer</class>
                        <method>importPaymentData</method>
                    </billsafe_observer>
                </observers>
            </sales_quote_payment_import_data_before>
            <sales_order_place_after>
                <observers>
                    <billsafe_observer>
                        <type>singleton</type>
                        <class>billsafe/observer</class>
                        <method>cleanUpSession</method>
                    </billsafe_observer>
                </observers>
            </sales_order_place_after>
        </events>
    </frontend>
    <crontab>
        <jobs>
            <billsafe_settlement>
                <run>
                    <model>billsafe/observer::getSettlementFiles</model>
                </run>
            </billsafe_settlement>
        </jobs>
    </crontab>
    <phpunit>
        <suite>
            <modules>
                <Netresearch_Billsafe/>
            </modules>
        </suite>
    </phpunit>
</config>
