<?xml version="1.0" encoding="UTF-8"?>
<config>
    <modules>
        <AwHh_PaymentFee>
            <version>0.1.0</version>
        </AwHh_PaymentFee>
    </modules>
    <global>
        <helpers>
            <paymentfee>
                <class>AwHh_PaymentFee_Helper</class>
            </paymentfee>
        </helpers>
        <models>
            <paymentfee>
                <class>AwHh_PaymentFee_Model</class>
            </paymentfee>
        </models>
        <blocks>
            <paymentfee>
                <class>AwHh_PaymentFee_Block</class>
            </paymentfee>
        </blocks>
    </global>
    <admin>
        <routers>
            <paymentfee>
                <use>admin</use>
                <args>
                    <module>AwHh_PaymentFee</module>
                    <frontName>paymentfee</frontName>
                </args>
            </paymentfee>
        </routers>
    </admin>
    <adminhtml>
        <translate>
            <modules>
                <AwHh_PaymentFee>
                    <files>
                        <default>AwHh_PaymentFee.csv</default>
                    </files>
                </AwHh_PaymentFee>
            </modules>
        </translate>
    </adminhtml>
    <frontend>
        <events>
            <!-- If Payment is saved in "Onepage Checkout" save paymentfee -->
            <controller_action_predispatch_checkout_onepage_savePayment>
                <observers>
                    <paymentfee>
                        <type>singleton</type>
                        <class>paymentfee/observer</class>
                        <method>handlePaymentFee</method>
                    </paymentfee>
                </observers>
            </controller_action_predispatch_checkout_onepage_savePayment>
            <!-- If user opens "OneStepCheckout" save paymentfee -->
            <controller_action_predispatch_onestepcheckout_index_index>
                <observers>
                    <paymentfee>
                        <type>singleton</type>
                        <class>paymentfee/observer</class>
                        <method>handlePaymentFee</method>
                    </paymentfee>
                </observers>
            </controller_action_predispatch_onestepcheckout_index_index>
            <sales_quote_collect_totals_after>
                <observers>
                    <paymentfee>
                        <type>singleton</type>
                        <class>paymentfee/observer</class>
                        <method>updateQuoteItemsCount</method>
                    </paymentfee>
                    <paymentfee2>
                        <type>singleton</type>
                        <class>paymentfee/observer</class>
                        <method>handlePaymentFee</method>
                    </paymentfee2>
                </observers>
            </sales_quote_collect_totals_after>
            <!-- If the user opens the cart, delete fee items -->
            <controller_action_predispatch_checkout_cart_index>
                <observers>
                    <paymentfee>
                        <type>singleton</type>
                        <class>paymentfee/observer</class>
                        <method>controllerActionPredispatchCheckoutCartIndex</method>
                    </paymentfee>
                </observers>
            </controller_action_predispatch_checkout_cart_index>
        </events>
    </frontend>
    <phpunit>
        <suite>
            <modules>
                <AwHh_PaymentFee />
            </modules>
        </suite>
    </phpunit>
    <default>
        <payment_services>
            <paymentfee>
                <sku>paymentfee</sku>
            </paymentfee>
        </payment_services>
    </default>
</config>
